### Maven ###
target/
dist/
*.versionsBackup
*.branch
 
### Eclipse/IntelliJ ###
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.pmd
.idea
*.iml

## Logs, Diffs, etc ##
*.log
*.diff
